/*= @group Layout
---------------------------------------------------------------------- */
// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 60;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

