/*= @group State
---------------------------------------------------------------------- */

    // Hide from both screenreaders and browsers: h5bp.com/u
    .is-hidden { display: none !important; visibility: hidden; }

    // Hide visually and from screenreaders, but maintain layout
    .is-invisible { visibility: hidden; }

    .is-visible { display: block !important; }
